@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: "Mulish", sans-serif;
}

/* root css start */
:root {
    --primary-color: #FF5400;
}

/* some common css */
.container {
    max-width: 1170px;
    width: 80%;
    margin: 0 auto;
}

section {
    margin-top: 100px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.description {
    max-width: 630px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* nav styles start */

.mb-view {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.nav-logo, .nav-logo h1 {
    display: flex;
    text-align: center;
    align-items: center;
}

.nav-logo Img {
    margin-right: 12px;
}

.nav-logo h1 {
    font-size: 36px;
    font-weight: 800;
}

.nav-logo h1 span {
    color: var(--primary-color);
}


.nav .menu {
    display: flex;
}

.nav .menu li {
    list-style: none;
    margin-left: 35px;
}

.nav .menu li a {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.nav .menu li:first-child a {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
}

/* hero styles start */
.hero {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ .png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.hero-content {
    text-align: center;

}

.hero-content h1 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero-content p {
    max-width: 670px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.form {
    padding: 16px;
    align-items: flex-start;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 20px;
}

.form form {
    gap: 24px;
    display: flex;
}

.form input, select {
    border-radius: 8px;
    padding: 16px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
}

.btn-find {
    border-radius: 8px;
    padding: 16px;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-find span {
    margin-right: 8px;
}

/* popular tours styles start  */
.popular-tours {
    display: flex;
    justify-content: space-between;
}

.popular-tours .popular-tours-content {
    width: 45%;
}

.popular-tours .popular-tours-img {
    width: 45%;
}

.popular-tours .popular-tours-img img {
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.popular-tours .popular-tours-content h3 {
    color: #131318;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.popular-tours .popular-tours-content p {
    color: rgba(19, 19, 24, 0.70);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
}

.popular-tours .popular-tours-content button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 13px 34px;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}



/* destination styles start */
.destination .destination-content {
    margin-bottom: 48px;
}


.destination .destination-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.destination .destination-img span {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-img .maldives {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 6;
    height: 300px;
}

.destination-img .indonesia {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 6;
    height: 300px;
}

.destination-img .srilanka {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 4;
    height: 300px;
}

.destination-img .america {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 5;
    height: 300px;
}

.destination-img .kashmir {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
    height: 300px;
}

.destination-img .bangladesh {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 5;
    height: 300px;
}

.destination-img .bandarban {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 7;
    height: 300px;
}

/* choose us styles start */
.chooseUs-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    grid-template-areas:
        "item-1 item-1 item-2 item-2"
        ". item-3 item-3 .";
    margin-top: 20px;
}

.item-1 {
    grid-area: item-1;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.item-2 {
    grid-area: item-2;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.item-3 {
    grid-area: item-3;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.chooseUs-card .card {
    border-radius: 16px;
    padding: 32px;
}

.chooseUs-card .card i {
    font-size: 35px;
    color: var(--primary-color);
}

.chooseUs-card .card h3 {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 16px;
    padding-bottom: 32px;
}

.chooseUs-card .card p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* discounts styles start */
.discounts {
    text-align: center;
}

.discounts-img {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}

.img-1 {
    background: url(../Images/Group\ 39.png), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 55px;
}

.img-2 {
    background: url(../Images/Group\ 40.png), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 55px;
}

.img-content {
    width: 45%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
}

.img-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.img-content p span {
    margin-right: 20px;
    line-height: normal;
}

.img-content p span i {
    color: var(--primary-color);
    margin-right: 8px;
}

.img-content h3 {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 26px;
}

.img-content p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
}

.img-content .price {
    color: var(--primary-color);
    margin-top: 16px;
}

.img-content button {
    border-radius: 8px;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
    padding: 14px 24px;
    cursor: pointer;
}

.Package {
    border-radius: 8px;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
    padding: 14px 24px;
    margin-top: 24px;
    cursor: pointer;
}

/* perfect place styles start */
.perfect-place {
    display: flex;
    justify-content: space-between;
}

.perfect-place .perfect-place-content {
    width: 45%;
}

.perfect-place .perfect-place-img {
    width: 45%;

}

.perfect-place .perfect-place-img {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.perfect-place .perfect-place-img {
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 40089.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfect-place .perfect-place-content h3 {
    color: #131318;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.perfect-place .perfect-place-content p {
    color: rgba(19, 19, 24, 0.70);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
}

.perfect-place .perfect-place-content div ul li p {
    color: #131318;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.perfect-place .perfect-place-content button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 13px 34px;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


/* news letter styles start */
.newsLetter {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}


.newsLetter .newsLetter-input {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.newsLetter-input h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

.newsLetter-input p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}



.newsLetter-input .newsLetter-form input {
    width: calc(100% - 40px);
    padding: 16px 20px;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
    margin-top: 20px;
    border: none;
    outline: none;
}

.newsLetter-input .newsLetter-form button {
    border-radius: 8px;
    background: var(--primary-color);
    width: 100%;
    padding: 16px 20px;
    border-radius: 8px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}



.newsLetter .newsLetter-img {
    background: url(../Images/Group\ 39.png), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: auto;
    display: flex;
    align-items: end;
    justify-content: right;
    padding: 5px;
}

.newsLetter .newsLetter-img .img-text {
    color: #FFF;
    text-align: center;
    padding: 10px 25px;
    border-radius: 5px;
    transform: rotate(-19.628deg);
    transform-origin: bottom left;
    background: var(--primary-color);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.newsLetter .newsLetter-img .img-text p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
}

.newsLetter .newsLetter-img .img-text h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* footer styles start */
.footer {
    background: rgba(19, 19, 24, 0.05);
    padding: 100px;
}

.footer-logo {
    width: 250px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.footer-logo Img {
    width: 40px;
    font-size: 20px;
    margin-right: 12px;
}

.footer-logo h1 {
    font-size: 20px;
    font-weight: 800;
}

.footer-logo h1 span {
    color: var(--primary-color);
}

.footer-content {
    text-align: center;
}

.footer-content p {
    max-width: 750px;
    color: #5A5A5D;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 20px auto;

}

.footer-content span {
    font-size: 20px;
    margin: 10px;
}

.footer-content hr {
    margin: 50px 0;
}

.footer-content span:last-child {
    color: #131318;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* responsive styles start  */
@media screen and (max-width: 600px) {

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .mb-view {
        display: block;
        cursor: pointer;
    }

    .nav {
        margin-top: 20px;
    }

    .nav .menu {
        display: none;
    }

    .hero {
        height: auto;
    }


    .form form {
        flex-direction: column;
        gap: 10;
    }

    .form-item {
        width: 90%;
        margin: 0 auto;
    }

    .form-item select, .form-item button {
        width: 100%;
    }

    .form-item input {
        width: calc(100% - 32px);
    }


    .popular-tours,
    .perfect-place {
        flex-direction: column;
    }

    .popular-tours .popular-tours-content,
    .popular-tours .popular-tours-img,
    .perfect-place .perfect-place-content,
    .perfect-place .perfect-place-img {
        width: auto;
    }

    .perfect-place-img {
        height: 200px;
    }

    .popular-tours .popular-tours-content button,
    .perfect-place .perfect-place-content button {
        margin-bottom: 20px;
    }

    .destination .destination-content h3 {
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .destination .destination-img,
    .newsLetter {
        grid-template-columns: 1fr;
    }

    .destination .destination-img div {
        grid-column: auto;
    }

    .chooseUs-card {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "item-1"
            "item-2"
            "item-3 ";

    }

    .img-1,
    .img-2 {
        display: flex;
        align-items: end;
        justify-content: center;
        padding: 5px;
    }

    .img-content {
        width: 95%;
        padding: 5px;
    }

    .newsLetter .newsLetter-img {
        height: 450px;
    }

    .footer {
        padding: 100px 10px;
    }
}