@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: "Mulish", sans-serif;
}

/* root css start */
:root {
    --primary-color: #FF5400;
}

/* some common css */
.container {
    max-width: 1170px;
    width: 80%;
    margin: 0 auto;
}

section {
    margin-top: 100px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* nav styles start */

.mb-view {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.nav-logo, .nav-logo h1 {
    display: flex;
    text-align: center;
    align-items: center;
}

.nav-logo Img {
    margin-right: 16px;
}

.nav-logo h1 {
    font-size: 44px;
    font-weight: 800;
}

.nav-logo h1 span {
    color: var(--primary-color);
}


.nav .menu {
    display: flex;
}

.nav .menu li {
    list-style: none;
    margin-left: 35px;
}

.nav .menu li a {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.nav .menu li:first-child a {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
}

/* hero styles start */
.hero {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ .png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;

}

.hero-content h1 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero-content p {
    max-width: 670px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.form {
    padding: 16px;
    align-items: flex-start;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 20px;
}

.form form {
    gap: 24px;
    display: flex;
}

.form input, select {
    border-radius: 8px;
    padding: 16px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
}

.btn-find {
    border-radius: 8px;
    padding: 16px;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-find span {
    margin-right: 8px;
}

/* popular tours styles start  */
.popular-tours {
    display: flex;
    justify-content: space-between;
}

.popular-tours .popular-tours-content {
    width: 45%;
}

.popular-tours .popular-tours-img {
    width: 45%;
}

.popular-tours .popular-tours-img img {
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.popular-tours .popular-tours-content h3 {
    color: #131318;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.popular-tours .popular-tours-content p {
    color: rgba(19, 19, 24, 0.70);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
}

.popular-tours .popular-tours-content button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 13px 34px;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}



/* destination styles start */
.destination .destination-content h3 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination .destination-content {
    margin-bottom: 48px;
}

.destination .destination-content p {
    max-width: 630px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


.destination .destination-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
}

.destination .destination-img span {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-img .maldives {
    background-image: url(../Images/Rectangle\ 5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 6;
    height: 300px;
}

.destination-img .indonesia {
    background-image: url(../Images/Rectangle\ 8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 6;
    height: 300px;
}

.destination-img .srilanka {
    background-image: url(../Images/Rectangle\ 6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 4;
    height: 300px;
}

.destination-img .america {
    background-image: url(../Images/Rectangle\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 5;
    height: 300px;
}

.destination-img .kashmir {
    background-image: url(../Images/Rectangle\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
    height: 300px;
}

.destination-img .bangladesh {
    background-image: url(../Images/Rectangle\ 11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 5;
    height: 300px;
}

.destination-img .bandarban {
    background-image: url(../Images/Rectangle\ 10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 7;
    height: 300px;
}



/* responsive styles start  */
@media screen and (max-width: 576px) {

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .mb-view {
        display: block;
    }

    .nav {
        margin-top: 20px;
    }

    .nav .menu {
        display: none;
    }

    .hero {
        height: auto;
    }

    .form {
        margin: 16px;
    }

    .form form {
        flex-direction: column;
        gap: 10;
    }

    .form-item {
        width: 90%;
        margin: 0 auto;
    }

    .form-item select, .form-item button {
        width: 100%;
    }

    .form-item input {
        width: 89%;
    }


    .popular-tours {
        flex-direction: column;
    }

    .popular-tours .popular-tours-content,
    .popular-tours .popular-tours-img {
        width: auto;
    }

    .popular-tours .popular-tours-content button {
        margin-bottom: 20px;
    }

    .destination .destination-content h3 {
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .destination .destination-img {
        grid-template-columns: 1fr;
    }

    .destination .destination-img div {
        grid-column: auto;
    }
}